.loadVideo {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top :0;
    left: 0;
    z-index: 0;
}

.gamePage {
    z-index: 2;
}

.gameFont {
    color: white;
}