@font-face {
    font-family: 'Minecraft';
    src: local('Minecraft'), url(../../assets/fonts/Minecraft.ttf) format('truetype');
  }

.greenVideo {
    object-fit: cover;
    width: 100vw;
    height: 95vh;
    position: fixed;
    top :0;
    left: 0;
    z-index: 1;
    }

form{
    z-index: 2;
}

.helloHAL {
    z-index: 3;
    font-family: Minecraft;
    font-size:xx-large ;
    color:rgb(236, 132, 240);
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index:2;
  }