.ryanVideo {
  object-fit: cover;
  width: 100vw;
  height: 95vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
}

#saved {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  z-index: 3;
}
