.signP{
  font-family: Minecraft;
  font-size:large;
  color: #f3f3f7;
  z-index:3;
}

.signUp-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index:2;
}

.fireBoyVideo {
  object-fit: cover;
  width: 100vw;
  height: 95vh;
  position: fixed;
  top :0;
  left: 0;
  z-index: 1;
  }

