.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #ececec;
  width: 100%;
  min-height: 100vh;
}

.main.logged {
  background-color: pink;
}
