@font-face {
  font-family: 'Minecraft';
  src: local('Minecraft'), url(../../assets/fonts/Minecraft.ttf) format('truetype');
}

.navigationBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 80px;
  z-index: 2;
  font-family: Minecraft;
  font-size:xx-large ;
}

.HomeNav {

  border-bottom: 10px solid rgb(0, 0, 65);
  background:url(../../assets/space.png); 
 

}

.HomeNav-center{
  color:rgb(30,144,255);
  margin-top: 30px;
}

.LoginNav {
  border-bottom: 10px solid rgb(65, 0, 22);
  background:url(../../assets/tree.png);

}

.LoginNav-center{
  color:rgb(132, 240, 173);
  margin-top: 30px;
}

.SignupNav {
  border-bottom: 10px solid rgb(48, 0, 37);
  background:url(../../assets/punchit.png);
}

.SignupNav-center{
  color:rgb(236, 132, 240);
  margin-top: 30px;
}

.ProfileNav {
  border-bottom: 10px solid rgb(214, 52, 179);
  background:url(../../assets/sky.png);
}

.ProfileNav-center{
  color:rgb(243, 20, 232);
  margin-top: 30px;
}

.addNav {
  border-bottom: 10px solid rgb(44, 4, 82);
  background:url(../../assets/profile.png);
}

.addNav-center{
  color:rgb(59, 167, 230);
  margin-top: 30px;
}

.savedNav {
  border-bottom: 10px solid rgb(109, 9, 67);
  background:url(../../assets/thor.png);
}

.savedNav-center{
  color:rgb(40, 161, 197);
  margin-top: 30px;
}

.nav-logo {
  max-height: 70px;
  padding: 3px;
}
